<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	table, th, td
	{
	  border: 1px solid black;
	  border-collapse: collapse;
	  padding: 20px;
	}
</style>

</head>
<body>

	<h1>Flight list</h1>

	<div th:if="${flightsDataDtoList != null}">
		<table>
			<tr>
				<th>Id</th>
				<th>Departure city</th>
				<th>Departure DateTime</th>
				<th>Arrival City</th>
				<th>Arrival DateTime</th>
				<th>Flight number</th>
				<th>Captain</th>
				<th th:if="${flightsDataDtoList.isSeeFlightTime() == true}">Flight time</th>
			</tr>
	
			<tr th:each="flight : ${flightsDataDtoList.getFlightDtoList()}">
				<td	th:text="${flight.getId()}"></td>
				<td	th:text="${flight.getDepartureCity()}"></td>
				<td	th:text="${flight.getDepartureDatetime()}"></td>
				<td	th:text="${flight.getArrivalCity()}"></td>
				<td	th:text="${flight.getArrivalDatetime()}"></td>
				<td	th:text="${flight.getFlightNumber()}"></td>
				<td	th:text="${flight.getCaptain()}"></td>
				<td	th:if="${flightsDataDtoList.isSeeFlightTime() == true}" th:text="${flight.getFlightTime()}"></td>
			</tr>
		</table>
	</div>

</body>
</html>